<div>
    <form action="/play" style="font-family:monospace;font-size:20pt">
        <h1>Enter your name, player:</h1>
        <input type="text" name="nick" placeholder="anon" />
        <input type="submit" value="Go!"/>
    </form>

    <%= if assigns[:wrong_username] do %>
        <h1 style="color:red;">
            Name "<%= @wrong_username %>" invalid, a name can only contain
            numbers, letters, '_' and '-'
        </h1>
    <% end %>
</div>
